/* Fonts: Poppins, Aboreto, Raleway, Cairo, Tinos */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --main-color: rgb(115, 4, 189);
}

.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-screen {
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
}

.enter-main .main-screen {
  z-index: 2;
  animation: appear 1500ms cubic-bezier(0, 0, 0.19, 1) forwards;
}


@keyframes appear {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  } 20%, 35% {
    clip-path: polygon(55% 35%, 60% 50%, 47% 61%, 43% 45%);
  } 100% {
    clip-path: polygon(-15% -15%, 115% -15%, 115% 115%, -15% 115%);
  }
}

.main-screen {
  .background {
    z-index: 1;
  }

  .main-display {
    z-index: 2;
  }
}