.loading-screen {
    position: absolute;
    inset: 0 0 0 0;
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1;

    .hover-container {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .words-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 90%;
            gap: 30px;
            color: white;
            font-size: 100px;
            font-family: sans-serif;
            transition: transform 300ms ease, gap 300ms ease;
            animation: fadingIn 3000ms ease forwards;
            text-transform: uppercase;

            p:nth-of-type(1) {
                color: var(--main-color);
            }
        }

        .button-hover-area {
            width: 320px;
            height: 100px;
            transition: all 0.25s ease;

            .button-container button {
                font-weight: 600;
            }
        }

        &:hover {
            .words-container {
                transform: translateY(-30px) scale(1.05);
                gap: 50px;
            }

            .button-hover-area {
                transform: translateY(30px);
            }
        }
    }
}

.enter-main .loading-screen {
    animation: disappear 1.5s linear forwards;
}

@keyframes disappear {
    from {
        display: grid;
    } to {
        display: none;  
    }
}

@keyframes fadingIn {
    from {
        transform: translateY(30%);
        clip-path: circle(0% at -50% 120%);
    } to {
        transform: translateY(0px);
        clip-path: circle(250% at -50% 120%);
    }
}
