.more-posts {
    padding: 30px;
    padding-top: 15px;
    width: 100vw;

    h1 {
        font-family: "Cairo", sans-serif;
        font-size: 45px;
        font-weight: 500;
    }

    .posts-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
    }
}