.more-posts {
    padding: 30px;
    padding-top: 15px;
    width: 100vw;

    h1 {
        font-family: "Cairo", sans-serif;
        font-size: 45px;
        font-weight: 500;
    }

    .posts-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 100px;
    }

    #load-more-button-hover-area {
        margin: 120px 0px;

        .button-container {
            background-color: rgb(58, 137, 255);
            border-radius: 10px;
            border: 3px solid black;

            #load-more-button {
                width: 250px; 
                border-radius: 10px;
                color: white;
                font-weight: 600;

                &::after {
                    border-radius: 10px;
                    background-color: white;
                }

                &:hover {
                    color: black;
                }
            }
        }
    }
}