.post-timeline-chart {
    border-radius: 15px;
    padding: 20px 15px;
    background-color: rgb(250, 250, 250);

    h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 30px;
        padding-bottom: 2px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
}