.post-in-more-posts {
    position: relative;
    width: max(85%, 400px);

    .container {
        padding: 30px 40px;
        background-color: white;
        border-radius: 20px;
        transition: all 500ms ease;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 3px solid black;
            padding-bottom: 20px;

            .persons {
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .name {
                    font-size: 30px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 500;
                }

                .recipient {
                    font-size: 27px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                }
            }

            .time-and-reaction-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                
                .time {
                    font-size: 30px;
                    font-family: "Aboreto", sans-serif;
                    font-weight: 500;
                }

                .reaction-count {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .small-reactions {
                        display: flex;
                        flex-direction: row;

                        .like-icon {
                            width: 70px;
                            height: 70px;
                            background-image: url("lottie-animation/like-reaction-img.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            z-index: 2;
                            transform: translateX(60px);
                        }

                        .love-icon {
                            width: 70px;
                            height: 70px;
                            background-image: url("lottie-animation/love-reaction-img.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            z-index: 1;
                            transform: translateX(10px);
                        }
                    }

                    p {
                        font-size: 20px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                    }
                }
            }
        }

        .message {
            margin-top: 30px;
            font-size: 20px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }

    &:hover {
        .container {
            box-shadow: 4px 4px 2px var(--main-color);
            transform: translateY(-15px);
        }
    }
}