.post-in-more-posts {
    position: relative;
    width: max(85%, 400px);

    .container {
        padding: 30px 40px;
        background-color: white;
        border-radius: 20px;
        transition: all 500ms ease;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 3px solid black;
            padding-bottom: 20px;

            .persons {
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .name {
                    font-size: 30px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 500;
                }

                .recipient {
                    font-size: 27px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                }
            }

            .time {
                font-size: 30px;
                font-family: "Aboreto", sans-serif;
                font-weight: 500;
            }
        }

        .message {
            margin-top: 30px;
            font-size: 20px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }

    &:hover {
        .container {
            box-shadow: 4px 4px 2px var(--main-color);
            transform: translateY(-15px);
        }
    }
}