.comment {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;

    .comment-header {
        display: flex;
        flex-direction: column;

        .name {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 30px;
        }

        .date {
            font-family: "Aboreto", sans-serif;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .comment-text {
        margin-top: 15px;
        font-size: 22px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;
    }
}

.comment.filler {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    animation: commentAppear 1200ms ease forwards 800ms;
}

@keyframes commentAppear {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}



