.inspiration-screen {
    z-index: 1;
    position: absolute;
    inset: 0 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;   
    top: 100%;
    transition: top 1s ease;

    scroll-timeline-name: --inspiration-screen-scroll;

    .tilting-container {
        position: relative;
        width: 100vw;
        padding: 200px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 150ms ease;
        scale: 0.8 0.8;
        animation: zoomWhenScroll linear forwards;
        animation-timeline: --inspiration-screen-scroll;

        .creator-note {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: calc(100vh - 170px);
            width: 100%;

            .header {
                text-align: center;
                font-family: "Cairo", sans-serif;
                font-weight: 400;
                font-size: 50px;
            }

            .creator-note-text {
                text-align: center;
                max-width: 1000px;
                margin-top: 80px;
                font-size: 25px;
                line-height: 37px;
                font-style: italic;
                font-family: "Cairo";
                font-weight: 400;
                color: rgb(221, 249, 219);
                opacity: 0;
                transform: translateY(40%);
                animation: fadeIn linear forwards;
                animation-timeline: view();
                animation-range-start: 50vh;
                animation-range-end: 70vh;
            }
        }

        .page-rules {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-family: "Cairo", sans-serif;
                font-size: 50px;   
                font-weight: 500;
                margin: 20px 0px 0px;
                opacity: 0;
                transform: translateY(40%);
                animation: fadeIn linear forwards;
                animation-timeline: view();
                animation-range: 10vh 30vh;
            } 

            .page-description {
                margin: 50px 0px;
                font-size: 22px;
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                line-height: 30px;
                max-width: 1000px;
            }

            .rules-container {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 120px;

                .rule {
                    max-width: 270px;
                    height: 800px;
                    display: flex;
                    flex-direction: column;

                    &:nth-of-type(1) {
                        justify-content: flex-start;
                    }

                    &:nth-of-type(2) {
                        justify-content: center;
                    }

                    &:nth-of-type(3) {
                        justify-content: flex-end;
                    }
                    
                    .rule-head {
                        position: relative;
                        margin: 70px 0px 30px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 300;
                        font-style : italic;
                        font-size: 26px;
                        height: 90px;

                        &::before {
                            content: var(--order-num);
                            display: block;
                            position: absolute;
                            font-style: none;
                            top: -40px;
                            font-weight: 600;
                        }
                    }

                    .rule-text {
                        font-size: 19px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        /* color: rgb(250, 244, 226); */
                        clip-path: rect(0px 100% 0% 0px);
                        animation: removeClipPath linear forwards;
                        animation-timeline: view();
                        animation-range-start: 20vh;
                        animation-range-end: 50vh;
                    }
                }
            }
        }

        .inspiration {
            position: relative;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h2 {
                font-family: "Cairo", sans-serif;
                font-size: 50px;   
                font-weight: 500;
                margin: 70px 0px 0px;
                transform: translateX(-150px);
            } 

            .prevent-overflow-container {
                overflow: hidden;
                z-index: 2;
                position: relative;
                width: min(100vw, 400px);
                transform: translateX(-100px);

                .inspiration-image-container {
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .inspiration-text {
                position: absolute;
                top: 35%;
                left: -8%;
                width: 300px;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 22px;
                color: rgb(250, 226, 226);
                line-height: 28px;
                transform: translateX(0px);
                animation: moveIn ease forwards;
                animation-timeline: view();
                animation-range-start: -15vh;
                animation-range-end: 70vh;
            }
        }

        .dark-background {
            position: absolute;
            opacity: 0.9;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            inset: unset unset unset unset;
            width: 108vw;
            height: 105%;
            border-radius: 20px;
        }
    }

    #page-exit-button-hover-area {
        position: fixed;
        z-index: 2;
        top: 15px;
        right: -100px;
        transition: right 1s ease;


        #page-exit-button {
            width: 70px;
            height: 70px;
        }   
    }
}

/* * Animation for .inspiration-screen */
@keyframes zoomWhenScroll {
    0% {
        scale: 0.8 0.8;
    } 15%, 80% {
        scale: 1 1;
    } 100% {
        scale: 0.8 0.8;
    }
}

/* * Animation for .creator-note-text and h2 in .page-rules */
@keyframes fadeIn{
    to {
        opacity: 1;
        transform: translate(0);
        color: var(--txt-color);
    }
}

/* * Animation for .rule-text */
@keyframes removeClipPath {
    to {
        clip-path: rect(0px 100% 100% 0px);
    } 
}

/* * Animation for .inspiration-text */
@keyframes moveIn {
    to {
        transform: translateX(400px);
    }
}

/* ----------------------------------------------------------------------- */
/* When there's .inspiration-screen-active class .inspiration-screen going up */
/* ----------------------------------------------------------------------- */
.inspiration-screen-active .inspiration-screen {
    z-index: 3;
    top: 0;
}

.inspiration-screen-active .inspiration-screen #page-exit-button-hover-area {
    right: 30px;
}


