.post-screen {
    position: absolute;
    inset: 0 0 0 0;
    overflow-y: auto;
    padding: 200px 0px;
    top: 100%;
    z-index: 3;
    transition: top 1s ease;
    z-index: 1;

    .full-post {
        background-color: #EAF4F0;
        min-height: 1500px;
        border-radius: 50px;
        padding: 50px 100px;

        .full-post-utils {
            width: 100%;
            height: 50px;
        }

        .full-post-header {
            
            .main-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .name-recipient-container {

                    .name {
                        font-size: 55px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 600;
                    }

                    .recipient {
                        margin-top: 10px;
                        font-size: 45px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                    }
                }

                .date {
                    font-size: 40px;
                    font-family: "Aboreto", sans-serif;
                    margin-top: 5px;
                }
            }

            .feelings {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 30px;
                row-gap: 30px;
                margin-top: 40px;

                .feeling-chip {
                    font-size: 32px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    padding: 7px 20px;
                    border-radius: 100vw;
                }
            }
        }

        .full-post-message {
            margin-top: 60px;
            /* background-color: white; */
            width: 100%;
            border-radius: 40px;
            min-height: 60px;

            span {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.2);
                font-size: 34px;
                line-height: 60px;
                background-clip: text;
                background-repeat: no-repeat;
                background-image: linear-gradient(90deg, var(--text-color), var(--text-color));
                background-size: var(--animation-progress) 100%;
            }
        }

        .full-post-comment {
            margin-top: 150px;

            h2 {
                font-family: "Raleway", sans-serif;
                font-weight: 500;
                font-size: 45px;
            }

            .comments-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 45px;
                padding: 80px 0px;
            }
        }
    }

    #page-exit-button-hover-area {
        position: fixed;
        z-index: 2;
        top: 15px;
        right: -100px;
        transition: right 1s ease;


        #page-exit-button {
            width: 70px;
            height: 70px;
        }   
    }
}


/* ----------------------------------------------------------------------- */
/* When there's .post-screen-active class .post-screen going up */
/* ----------------------------------------------------------------------- */
.post-screen-active .post-screen {
    top: 0%;
    z-index: 3;
}

.post-screen-active .post-screen #page-exit-button-hover-area {
    right: 30px;
}