.post-screen {
    position: absolute;
    inset: 0 0 0 0;
    overflow-y: auto;
    padding: 200px 0px;
    top: 100%;
    z-index: 3;
    transition: top 1s ease;
    z-index: 1;

    .full-post {
        background-color: #EAF4F0;
        min-height: 1500px;
        border-radius: 50px;
        padding: 50px 100px;

        .full-post-utils {
            width: 100%;
            height: 50px;
        }

        .full-post-header {
            
            .main-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .name-recipient-container {

                    .name {
                        font-size: 55px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 600;
                    }

                    .recipient {
                        margin-top: 10px;
                        font-size: 45px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                    }
                }

                .date {
                    font-size: 40px;
                    font-family: "Aboreto", sans-serif;
                    margin-top: 5px;
                }
            }

            .feelings {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 30px;
                row-gap: 30px;
                margin-top: 40px;

                .feeling-chip {
                    font-size: 32px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    padding: 7px 20px;
                    border-radius: 100vw;
                }
            }
        }

        .full-post-message {
            margin-top: 60px;
            /* background-color: white; */
            width: 100%;
            border-radius: 40px;
            min-height: 60px;

            span {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.2);
                font-size: 34px;
                line-height: 60px;
                background-clip: text;
                background-repeat: no-repeat;
                background-image: linear-gradient(90deg, var(--text-color), var(--text-color));
                background-size: var(--animation-progress) 100%;
            }
        }

        .full-post-comment {
            margin-top: 150px;

            .head {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 35px;
                
                .comment-number {
                    font-family: "Raleway", sans-serif;
                    font-weight: 600;
                    font-size: 50px;
                    color:rgba(0, 0, 0, 0.4);
                }

                h2 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 500;
                    font-size: 45px;
                }
            }

            .user-comment-form {
                margin-top: 30px;
                width: 100%;
                background-color: white;
                display: grid;
                grid-template-columns: 85% 1fr;
                grid-template-rows: auto;
                padding: 25px 34px;
                border-radius: 5px;

                .input-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        margin-top: 10px;
                        font-size: 21px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.6);
                    }

                    textarea {
                        margin-top: 15px;
                        overflow: hidden;
                        resize: none;
                        width: 100%;
                        height: 30px;
                        padding: 10px 15px;
                        font-size: 20px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 500;
                        color: black;
                        min-height: 45px;
                        border-radius: 3px;
                        border-bottom: 5px solid;
                        border-bottom-color: black;
                        transition: border-bottom-color 200ms ease,
                                    scale 250ms ease;

                        &:focus {
                            outline: none;
                            border-bottom-color: var(--main-color);
                        }

                        &:hover {
                            scale: 1.005;
                        }
                    }
                }
                
                .buttons-container {
                    transform: translateY(2px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .button-hover-area {
                        height: 45px;
                        width: 75%;

                        .button-container {
                            height: 100%;
                            width: 100%;
                            border: 2px solid black;
                            
                            button {
                                width: 100%;
                                height: 100%;
                                font-size: 18px;
                                font-weight: 600;

                                &::after {
                                    background-color: var(--text-color);
                                }
                            }
                        }
                    }
                }
            }



            .comments-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 45px;
                padding: 80px 0px;

                .no-comment-notice {
                    width: 100%;
                    height: 200px;
                    display: grid;
                    place-items: center;
                    font-family: "Poppins", sans-serif;
                    font-size: 34px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    #page-exit-button-hover-area {
        position: fixed;
        z-index: 2;
        top: 15px;
        right: -100px;
        transition: right 1s ease;


        #page-exit-button {
            width: 70px;
            height: 70px;
        }   
    }
}


/* ----------------------------------------------------------------------- */
/* When there's .post-screen-active class .post-screen going up */
/* ----------------------------------------------------------------------- */
.post-screen-active .post-screen {
    top: 0%;
    z-index: 3;
}

.post-screen-active .post-screen #page-exit-button-hover-area {
    right: 30px;
}