.post-screen {
    position: absolute;
    inset: 0 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 200px 0px;
    top: 100%;
    z-index: 3;
    transition: top 1s ease;
    z-index: 1;

    .full-post {
        background-color: #EAF4F0;
        min-height: 1500px;
        border-radius: 50px;
        padding: 50px 100px;

        .full-post-header {

            .main-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                .name-recipient-container {

                    .name {
                        font-size: 55px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 600;
                    }

                    .recipient {
                        margin-top: 10px;
                        font-size: 45px;
                        font-family: "Raleway", sans-serif;
                        font-weight: 400;
                    }
                }

                .date-reactions-container {
                    margin-top: 5px;

                    .date {
                        font-size: 40px;
                        font-family: "Aboreto", sans-serif;
                    }

                    .reactions-count {
                        margin-top: 35px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        

                        .small-reactions {
                            display: flex;
                            flex-direction: row;
                            transform: translateX(-25px);
                        }

                        .count {
                            font-size: 32px;
                            font-family: "Raleway", sans-serif;
                            font-weight: 400;
                            transform: translateX(-95px);
                        }
                    }
                }
            }

            .feelings {
                margin-top: 40px;
                display: flex;
                width: 60%;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 30px;
                row-gap: 30px;

                .feeling-chip {
                    font-size: 32px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    padding: 7px 20px;
                    border-radius: 100vw;
                }
            }
        }

        .full-post-message {
            position: relative;
            margin-top: 60px;
            width: 100%;
            border-radius: 40px;
            min-height: 60px;

            span {
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.2);
                font-size: 34px;
                line-height: 60px;
                background-clip: text;
                background-repeat: no-repeat;
                background-image: linear-gradient(90deg, var(--text-color), var(--text-color));
                background-size: var(--animation-progress) 100%;
            }

            .scrollable-range {
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                height: calc(100% + 130px);
                

                .reactions-container {
                    position: sticky;
                    width: 100%;
                    top: 100px;
                    background-color: skyblue;

                    .reactions {
                        transform-origin: center;
                        overflow: hidden;
                        position: absolute;
                        right: 40px;
                        top: -170px;
                        width: 80px;
                        height: 166px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        border-radius: 100vw;
                        background-color: white;
                        box-shadow: 0px 0px 1px 1px rgb(143, 143, 143);
                        transition: height 1000ms cubic-bezier(0.09, 1.18, 1, 1);

                        .like-animation-container, .love-animation-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 72px;
                            height: 72px;
                            background-color: white;
                            border-radius: 50%;
                            border: 2px solid rgb(26, 26, 26);
                            transition: scale 250ms ease,
                                        background-color 400ms ease;
                        }

                        .like-animation-container:hover {
                            scale: 1.04;
                            background-color: rgb(231, 240, 245);
                        }

                        .love-animation-container:hover {
                            scale: 1.04;
                            background-color: rgb(245, 231, 245);
                        }
                    }
                }
            }
        }

        .full-post-comment {
            margin-top: 150px;

            .head {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 35px;
                
                .comment-number {
                    font-family: "Raleway", sans-serif;
                    font-weight: 600;
                    font-size: 50px;
                    color:rgba(0, 0, 0, 0.4);
                }

                h2 {
                    font-family: "Raleway", sans-serif;
                    font-weight: 500;
                    font-size: 45px;
                }
            }

            .user-comment-form {
                overflow: hidden;
                margin-top: 30px;
                width: 100%;
                height: auto;
                background-color: white;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                /* On mobile, change flex-direction to column and justify-content to space-between */
                padding: 25px 34px;
                border-radius: 5px;
                transition: height 1000ms cubic-bezier(0.09, 1.18, 1, 1),
                            padding 1000ms cubic-bezier(0.09, 1.18, 1, 1);

                .input-container {
                    width: 85%;
                    height: auto;
                    position: relative;

                    .question-one, .question-two {
                        width: 100%;

                        p {
                            margin-top: 10px;
                            font-size: 21px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        textarea, input {
                            margin-top: 15px;
                            resize: none;
                            width: 95%;
                            height: 120px;
                            padding: 10px 15px;
                            font-size: 20px;
                            font-family: "Raleway", sans-serif;
                            font-weight: 500;
                            color: black;
                            min-height: 45px;
                            border-radius: 3px;
                            border-bottom: 5px solid;
                            border-bottom-color: black;
                            transition: border-bottom-color 200ms ease,
                                        scale 250ms ease;

                            &:focus {
                                outline: none;
                                border-bottom-color: var(--main-color);
                            }

                            &:hover {
                                scale: 1.005;
                            }
                        }

                        input {
                            height: 30px;
                        }
                    }
                    
                    .question-one {
                        position: relative;
                    }

                    .question-two {
                        position: absolute;
                        z-index: -1;
                        top: 170%;
                        opacity: 0;
                        transition: top 750ms cubic-bezier(0.09, 1.18, 1, 1) 850ms,
                                    opacity 600ms ease 850ms;
                    }
                    
                }
                
                .button-container {
                    transform: translateY(2px);
                    display: flex;
                    flex-direction: column;
                    /* Flex-direction: row when on mobile */

                    .button-hover-area {
                        height: 45px;
                        width: 140px;

                        .button-container {
                            height: 100%;
                            width: 100%;
                            border: 2px solid black;
                            
                            button {
                                width: 100%;
                                height: 100%;
                                font-size: 18px;
                                font-weight: 600;

                                &::after {
                                    background-color: var(--text-color);
                                }
                            }
                        }
                    }

                    .animations-container {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 140px;
                        height: 120px;
                        overflow: hidden;
                        
                        .loading-animation-container {
                            position: absolute;
                            transform: translateY(80%);
                            opacity: 0;
                            transition: transform 500ms ease,
                                        opacity 600ms ease;
                        }

                        .submitted-animation-container {
                            position: absolute;
                            transform: translateY(-100%);
                            opacity: 0;
                            transition: transform 500ms ease,
                                        opacity 600ms ease;
                        }
                    }
                }
            }



            .comments-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 45px;
                padding: 80px 0px;

                .no-comment-notice {
                    width: 100%;
                    height: 200px;
                    display: grid;
                    place-items: center;
                    font-family: "Poppins", sans-serif;
                    font-size: 34px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    #page-exit-button-hover-area {
        position: fixed;
        z-index: 2;
        top: 15px;
        right: -100px;
        transition: right 1s ease;


        #page-exit-button {
            width: 70px;
            height: 70px;
        }   
    }
}


/* ----------------------------------------------------------------------- */
/* When there's .post-screen-active class .post-screen going up */
/* ----------------------------------------------------------------------- */
.post-screen-active .post-screen {
    top: 0%;
    z-index: 3;
}

.post-screen-active .post-screen #page-exit-button-hover-area {
    right: 30px;
}

/* ----------------------------------------------------------------------- */
/* When there's .post-screen-active class .post-screen going up */
/* ----------------------------------------------------------------------- */
.post-screen .full-post .full-post-comment .user-comment-form .button-container.button-disabled {
    button {
        width: 100%;
        height: 100%;
        cursor: not-allowed;
        color: rgb(245, 244, 244);

        &::after {
            top: 0%;
        }
    }
}



/* ----------------------------------------------------------------------- */
/* .question-two appear when questionFormState is "question-two */
/* ----------------------------------------------------------------------- */
.post-screen .full-post .full-post-comment .user-comment-form.question-two-active .input-container {
    .question-two {
        z-index: 1;
        top: 100%;
        opacity: 1;
    }
}


/* ----------------------------------------------------------------------- */
/* .loading-animation-container goes up when in loading state */
/* ----------------------------------------------------------------------- */
.post-screen .full-post .full-post-comment .user-comment-form.loading .button-container .animations-container {
    .loading-animation-container {
        transform: translateY(0);
        opacity: 1;
    }
}

.post-screen .full-post .full-post-comment .user-comment-form.submitted .button-container .animations-container {
    .submitted-animation-container {
        transform: translateY(0);
        opacity: 1;
    }
}